<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thejazz.dailydose">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utilities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activites.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.TvDetailActivity"
            android:label="@string/title_activity_tv_detail"
            android:parentActivityName=".activites.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.MainActivity" />
        </activity>
        <activity
            android:name=".activites.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activites.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.MainActivity" />
        </activity>

        <provider
            android:name=".data.TvShowProvider"
            android:authorities="com.thejazz.dailydose" />

        <activity
            android:name=".activites.SearchActivity"
            android:label="Discover"
            android:parentActivityName=".activites.MainActivity" />
        <activity android:name=".activites.PopularTvDetailActivity" />
        <service android:name=".services.FetchFavouritesService"/>
    </application>


</manifest>